/* ********************* GENERAL ******************************* */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

:root {
    --primary-color:    #ff4757;
    --primary-04-color: #ff475766;
    --white-color:      #ffffff;
    --pure-white:       #ffffff;
    --grey-color:       #747d8c;
    --light-color:      #f1f2f6; 
    --dark-color:       #2f3542;
    --dark-04-color:    #2f354266;
}

* {
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
    background-color: var(--white-color);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

strong {
    font-weight: 800;
}

ul {
    list-style: none;
}

h1,h2,h3,h4 {
    font-weight: 800;
    line-height: normal;
}

h1 {font-size: 2.5em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1em;}

/* **************************** */
/* ************ HEADER ******** */
/* **************************** */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--white-color);
    border-right: 1px solid var(--light-color);
    padding: 30px 0 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    z-index: 1001;
    width: 60px;
    transform: translateX(-60px);
    transition: transform .3s .1s;
}

.menu-visible header {
    transform: translateX(0);
    transition-delay: .2s;
}

header a {
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo a {
    background-color: var(--primary-color);
    color: var(--pure-white);
    font-size: 30px;
    border-radius: 50%;
}

.has-hover a {
    position: relative;
}

.has-hover a::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    box-shadow: 0 0 0 10px var(--primary-04-color);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s;
}

.has-hover a:hover::before {
    opacity: 1;
    animation: blinkprimary 1s infinite;
}

@keyframes blinkprimary {
    50% {box-shadow: 0 0 0 0 var(--primary-04-color)}
}

header .socials a:hover {
    color: var(--white-color);
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

main nav {
    height: 100px;
}

main nav :where(.container, ul) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
}

main nav .menu a {
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    transition: color .3s;
}

main nav .menu a:hover {
    color: var(--dark-color);
}

main nav .daynight input {
    position: absolute;
    height: 0;
}

main nav .daynight label {
    display: flex;
    background-color: var(--dark-color);
    color: var(--white-color);
    box-shadow: 0 0 0 4px var(--dark-04-color);
    cursor: pointer;
}

main nav :where(.menu-trigger, .daynight label) {
    font-size: 24px;
    color: var(--dark-color);
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color .3s, color .3s, box-shadow .3s;
}

main nav :is(.menu-trigger, .daynight label):hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 0 0 0 4px var(--primary-04-color);
    animation: blinkdark 1s infinite;
}

@keyframes blinkdark {
    50% { box-shadow: 0 0 0 0 var(--dark-04-color);}
}

main nav .daynight label .light,
main nav .daynight input:checked ~ label .dark {
    display: none;
}

main nav .daynight input:checked ~ label .light {
    display: block;
}

main nav .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background-color: var(--primary-color);
    font-size: 24px;
    padding-left: 60px;
    transform: translateX(-100%);
    transition: transform .3s .1s;
}

.menu.show {
    transform: translateX(0);
}

main nav .menu ul {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

/* **************************** */
/* ********* HERO ************* */
/* **************************** */
.hero {
    position: relative;
    overflow: hidden;
}

.hero .wrapper {
    position: relative;
    min-height: calc(100vh - 100px);
    
}

.hero .wrapper .image {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translateX(50%);
}

.hero .wrapper .image img {
    max-width: 600px;
}



/* **************************** */
/* ********* MEDIA QUERIES **** */
/* **************************** */
@media screen and (min-width: 768px) {
    header {
        width: 80px;
    }

    .site > .wrapper {
        padding-left: 80px;
    }

    .container {
        padding: 0 64px;
    }

    .mobile-only {
        display: none;
    }

    header, main nav .menu {
        transform: none;
    }

    main nav .menu {
        position: relative;
        padding: 0;
        width: 100%;
        background-color: transparent;
        font-size: inherit;
    }

    main nav .menu ul {
        flex-direction: row;
        justify-content: unset;
        gap: 46px;
    }

    main nav .menu ul li a {
        color: inherit;
        font-weight: 600;
    }
} /* **** end 768px */